<div class="inner">
  <div class="title">
    <div class="text">$ {{t 'app.logs'}}_</div>
  </div>
  <div class="logs-container">
    <div class="logs">
      {{#each logs}}
        <div class="log">
          
        </div>
      {{/each}}
    </div>
  </div>
</div>
