@import 'fonts';
@import 'sharedStyles';

body.module-debug {
  .debug .view > .logs {
    .panel {
      position: fixed;
      right: 0;
      margin: 20px 30px;
      width: 250px;
      .nav {
        margin-bottom: 15px;
        text-align: right;
        button {
          width: 40px;
          background-color: @secondary-color;
          color: white;
        }
      }
      .filter {
        padding: 20px;
        background: @tertiary-color;
        border-radius: 3px;
        color: white;
        > div {
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
  
          & > h2 {
            font-size: 110%;
            margin-bottom: 10px;
          }
        }
      }
    }
    .log {
      padding: 5px;
      text-wrap: nowrap;
      > div {
        display: inline-block;
        &.timestamp {
          width: 180px 
        }
        &.level {
          width: 75px;
          font-weight: @font-weight-bold;
          &.error { color: @alert-color; }
          &.warn { color: @warning-color; }
          &.success { color: @success-color; }
          &.info { color: @info-color; }
          &.debug { color: grey; }
        }
        &.module {
          width: 125px;
          font-weight: @font-weight-bold;
          color: @secondary-color;
        }
        &.data {
          font-family: monospace;
        }
      }
    }
  }
}
