@import 'fonts';
@import 'sharedStyles';

body.module-debug {
  #app .debug {
    .title {
      background-color: #353535;
      padding: 20px;
      .text {
        font-size: 150%;
        font-weight: @font-weight-bold;
        font-family: monospace;
        color: @white;
      }
    }
    .nav-container {
      text-align: center;
      .nav {
        display: inline-block;
        background-color: @secondary-color;
        margin: 10px;
        border-radius: 3px;
        button {
          color: @white;
          font-weight: font-weight-bold;
          padding: 15px;
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
